<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PESO Imus</title>
    <link rel="icon" type="image/png" href="/images/peso-logo.png">
    <!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 5.3 -->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS and JavaScript -->
    <!-- <link rel="stylesheet" href="/css/navbar.css"> -->
    <link rel="stylesheet" href="/css/sidebar_admin.css">
    <link rel="stylesheet" href="/css/admin_notification.css">
    <link rel="stylesheet" href="/css/loginModal.css">
    <link rel="stylesheet" href="/css/account_information.css">
    <!-- <link rel="stylesheet" href="/css/admin_account_information.css"> -->
    <script src="/js/loginModal.js"></script>
    <script src="/js/dashboard.js"></script>
    <!-- <script src="/js/checkLocalStorage.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="/js/removeAccount.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/js/account_setting.js"></script>
</head>
<body class="container-fluid">
    <div class="row">
        <!-- Navigation -->
        <div class="side_bar col-lg-3 p-0">
            <div class="d-flex justify-content-between align-items-center">
                <a class=" logo-title p-3" href="#">Admin Panel</a>
                <!-- <div id="notifLogo">
                    <img src="/images/notification.svg" alt="Notification icon">
                </div> -->
            </div>
            <ul class="navbar-nav p-0">
                <li class="nav-item p-3 profile-picture d-flex justify-content-start align-items-center">
                    <img class="border" src="/images/default_profile.jpg" alt="profile picture">
                    <p class="nav-link p-0 px-3 m-0 username"></p>
                </li>
                <li class="nav-item p-3 active">
                    <a class="nav-link" aria-current="page" href="/account_admin">Admin Information</a>
                </li>
                <li class="nav-item p-3 m-0">
                    <a class="nav-link" href="/notification">Notification</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/admin_apply">Fill-Up Form</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/dashboard">Record</a>
                </li>
                 <li class="nav-item p-3">
                    <a class="nav-link" href="/data_analytics">Data Analytics</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/report">Report</a>
                </li>
                <li class="nav-item px-3 py-2">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
                </li>
                <li class="nav-item p-3 custom-nav-item">
                    <!-- <div class="d-flex" id="username">
                        <p class="m-0"></p>
                        <img class="" src="/images/arrow_down.svg" alt="Arrow down icon">
                    </div> -->
                    <button id="navLoginBtn" type="button" class="btn bg-primary text-white mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                </li>
            </ul>
        </div>
        <main class="col-lg-9">
            <div id="accountForm" class="row container mt-5">
                <div class="col-lg-3 image-container p-0">
                    <img class="close_icon" src="/images/close_gray.svg" alt="Close icon">
                    <img class="img-fluid border image" src="/images/default_profile.jpg" alt="Default profile picture">
                    <input class="form-control mt-2" type="file" name="image" accept=".png, .jpg, .jpeg">
                </div>
                <div class="col-lg-9">
                    <h4>Account Information</h4>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <input class="form-control" type="text" name="username" placeholder="Username" disabled>
                        </div>
                        <div class="col-lg-6 my-2">
                            <input class="form-control" type="email" name="email" placeholder="Email Address" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <input class="form-control" type="text" name="surname" placeholder="Surname" disabled>
                        </div>
                        <div class="col-lg-6 my-2">
                            <input class="form-control" type="text" name="firstname" placeholder="Firstname" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <input class="form-control" type="text" name="phonenumber" placeholder="Phone Number" disabled>
                        </div>
                         <div class="col-lg-6 my-2">
                            <input class="form-control" type="date" name="birthdate" placeholder="Birthdate" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 my-2">
                            <!-- <select class="form-control" name="civil_status" id="" disabled>
                                <option value="" disabled selected class="placeholder-option">Civil Status</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="widowed">Widowed</option>
                            </select> -->
                        </div>
                    </div>
                    <button class="btn btn-outline-primary btn-edit">Edit</button>
                    <button id="btn-save-account" class="btn btn-primary">Save</button>
                </div>
                <!-- <button class="submit-account" type="submit">Upload</button> -->
            </div>
        </main>
    </div>
    <!-- Account modal -->
    <div id="accountModal" class="account-info-container">
        <h4 class="border m-0 p-2">Username</h4>
        <a href="/account_admin">
            <div class="border m-0 p-2">Account Information</div>
        </a>
        <button class="m-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
    </div>
    <!-- Notification -->
    <div class="notification-container row-fluid border p-0">
        <h2 class="m-2">Notifications</h2>
    </div>
    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Logout?</h1>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer row-fluid py-0 pb-2">
                    <button type="button" class="btn btn-secondary" id="btnLogout">Yes, I want</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No, I don't</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery plugins floating label -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.placeholder.label.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
			$('input[placeholder]').placeholderLabel();
        })
	</script>
    <script>
        $(document).ready(function() {
            let isAdmin = localStorage.getItem('isAdmin');
            if(isAdmin === '0') {
                console.log("User is not an admin. No redirection needed.");
                window.location.href = "/";
                return true;
            }
            else if(isAdmin === null){
                window.location.href = "/";
            }
        });
    </script>
    <!-- Additional Bootstrap libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>