<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PESO Imus</title>
    <link rel="icon" type="image/png" href="/images/peso-logo.png">
    <!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 5.3 -->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS and JavaScript -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/loginModal.css">
    <link rel="stylesheet" href="/css/account_information.css">
    <script src="/js/loginModal.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/removeAccount.js"></script>
    <script src="/js/checkLocalStorage.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/js/account_setting.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg text-white custom-nav">
        <div class="container-fluid">
            <a class="navbar-brand logo-title" href="#">PESO IMUS</a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/images/menu.svg" alt="Menu icon">
            </button>
            <div class="collapse navbar-collapse row custom-links" id="navbarNav">
                <ul class="navbar-nav p-0"> 
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link apply-now">Apply Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link peso-link" href="/peso">PESO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link about-link" href="/about">About</a>
                    </li>
                    <li class="nav-item custom-nav-item d-flex justify-content-end align-items-center">
                        <div class="" id="username">
                            <p class="m-0"></p>
                            <img class="" src="/images/arrow_down.svg" alt="Arrow down icon">
                        </div>
                        <button id="navLoginBtn" type="button" class="btn bg-primary text-white mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                    </li>
                </ul>
            </div>
            <div id="notifLogo" class="notif-logo">
                <img src="/images/notification.svg" alt="Notification icon">
            </div>
        </div>
    </nav>
    <!-- Carousel -->
    <div id="carousel" class="carousel slide row-fluid" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/peso_imus_main.jpg" class="d-block w-100" alt="PESO main image">
            </div>
            <div class="carousel-item">
                <img src="/images/newcityhall.jpg" class="d-block w-100" alt="Imus City Hall">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Text content -->
    <div class="text-content row py-2 m-0">
        <h4 class="col-md-12 py-2">Find a job?</h4>
    <!--To access the jobseeker registration form, applicants need to register an account and fill-up the appropriate information required to submit the form.-->
        <div class="col-md-12">
            <p class="">To access the jobseeker registration form, applicants need to register an account and fill-up the appropriate information required to submit the form.</p>
            <a href="/apply"><button class="btn btn-primary apply-now">Apply Now</button></a>
        </div>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="messageAlert row">
            <div class="message col-lg-5 col-md-7 col-sm-7 m-auto"></div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="loginMessage"></div>
                    <form id="loginForm">
                        <label>Email address:
                            <input type="text" name="email">
                        </label>
                        <label>Password
                            <input type="password" name="password">
                            <img class="login-password" src="/images/visibility_off.svg" alt="">
                        </label>
                    </form>
                </div>
                <div class="modal-footer row-fluid py-0 pb-2">
                    <p class="col-lg-8 col-md-8">Don't have an account? <a href="/register">Register</a></p>
                    <div class="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnLogin">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Account modal -->
    <div id="accountModal" class="account-info-container">
        <h4 class="border m-0 p-2">Username</h4>
        <a href="/account">
            <div class="border m-0 p-2">Account Information</div>
        </a>
        <button class="m-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
    </div>
    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Logout?</h1>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer row-fluid py-0 pb-2">
                    <button type="button" class="btn btn-secondary" id="btnLogout">Yes, I want</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No, I don't</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Notification -->
    <div id="notificationContainer" class="notification-container container-fluid border p-0">
        <h2 class="m-2">Notifications</h2>
    </div>
    
    <script>
        $(document).ready(function() {
            let isAdmin = localStorage.getItem('isAdmin');
            if(isAdmin === '1'){
                console.log("Redirecting to /dashboard");
                window.location.href = "/account_admin";
                return true;
            }
            
        });
    </script>
    <!-- <script src="/js/checkLocalStorage.js"></script> -->
    <!-- Additional Bootstrap libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>