.notification-title{
    position: absolute;
    /* background-color: white !important; */
    /* z-index: 5; */
}
.notification-wrapper{
    position: absolute;
    top: 0;
    left: 25%;
    width: 75%;
}
.notification-body{
    margin-top: 5%;
}
.notification-link{
    position: relative;
}
.total_unread_notif{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 100px;
    right: 20px;
    /* top: -10px; */
    padding: 0 5px;
    font-size: 13px;
    display: none;
}