.total-container div div{
    border-radius: 10px;
    padding: 10px;
    height: 170px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.graph-container{
    margin: 0 auto;
}
.graph-container div{
    border-radius: 10px;
    width: 49%;
}
.graph-container div:first-child{
    margin-right: 19.7px;
}
.total-container div div p{
    text-align: center;
}
.total-applicants-container,
.total-unemployed,
.total-on-process,
.total-accepted{
    background-color: gray;
    color: white;
}
.total-applicants-container,
.total-on-process,
.total-unemployed,
.total-rejected{
    background-color: rgb(5, 55, 116); 
    color: white;
}
.total-males-container{
    background-color: #ADD8E6;
}
.total-females-container{
    background-color: #FBAED2;
}
#total_applicants, 
#total_male,
#total_female,
#total_unemployed,
#total_on_process,
#total_accepted,
#total_rejected{
    font-size: 35px;
    /* border: 1px solid black; */
    display: block;
    margin-top: 15px;
}
