label{
    margin-top: -12px !important;
}
.form-section, .form-content{
    padding-top: 0;
}
.logo-title{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #F3F4F8;
}
.notif-logo{
    margin-right: 10px;
}
.btn-back-container{
    padding-top: 10px;
    padding-bottom: 10px;
}
#username{
    position: fixed;
    right: 20px;
    z-index: 5;
}
input:disabled, select:disabled {
    /* Your styling rules for disabled input */
    opacity: 0.6; /* Example: reduce opacity */
    cursor: not-allowed; /* Example: change cursor to not-allowed */
    /* Add any other styles you want for disabled state */
}
