*{
    font-family: sans-serif;
}
body{
    /* background-color: #F3F4F8; */
    font-size: 1rem;
}
@media screen and (min-width: 576px){
    .action img{
        margin: 0 10px;
    }
}
@media screen and (max-width: 575px) {
    .email{
        display: none;
    }
}
main{
    padding: 20px;
}
    header{
        position: relative;
        padding: 5px;
        border: 1px solid #898989;
        /* margin: 20px ; */
        /* width: 35%; */
        border-radius: 5px;
        margin: 0 auto;
        margin-right: 0;
    }
        header input{
            border: none;
            /* width: 90%; */
            display: inline-block;
        }
        header img{
            display: inline-block;
            position: absolute;
            right: 10px;
        }
        header input:focus{
            outline: none;
        }
    ul li{
        list-style: none;
    }
    .application{
        border: 1px solid #898989;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
        cursor: pointer;
    }
        .application:hover{
            border: 1px solid #90EE90;
        }
        .application div{
            overflow: auto;
        }
    footer{
        text-align: right;
        margin: 0;
        padding: 0;
        width: 100%;
    }
        footer img{
            padding: 0;
            margin: 0;
            border: 1px solid #898989;
            border-radius: 5px;
        }
        footer a{
            display: inline-block;
            vertical-align: middle;
            padding: 0 7px;
            border: 1px solid #898989;
            border-radius: 5px;
            text-decoration: none;
            color: #898989;
        }
        footer a:hover{
            color: #90EE90;
            border: 1px solid #90EE90;
        }
        footer img:hover{
            border: 1px solid #90EE90;
        }
    