*{
    font-family: sans-serif;
}
body{
    background-color: #F3F4F8;
    font-size: 16px;
}
/* Navbar */
nav{
    width: 100%;
    height: 50%;
    background: #038aff;
}
    .logo-title, .logo-title:hover{
        font-weight: bold;
        color: #F3F4F8;
        margin-left: 15px;
    }
    .custom-links ul{
        display: flex;
        justify-content: end;
        text-align: right;
        z-index: 5;
    }
    .navbar-nav .nav-link.active{
        color: #F3F4F8;
    }
    .custom-links ul li a{
        margin: 0 20px;
        position: relative;
        color: #F3F4F8;
    }
    .custom-links ul li a:hover{
        background-color: #037eeb;
        color: #F3F4F8;
    }
    #username{
        font-weight: bold;
        cursor: pointer;
    }
    #navLoginBtn{
        display: block;
    }
    .logout-modal{
        border: 1px solid black;
        width: 100px;
        position: absolute;
        top: 0;
    }
    .custom-toggler{
        border: none;
    }
    .navbar-toggler-icon{
        border: none;
    }
    #close-icon{
        display: none;
    }