*{
    font-family: sans-serif;
}
body{
    /* background-color: #F3F4F8; */
    font-size: 16px;
}
/* Navbar */
.custom-nav{
    width: 100%;
    background: #038aff;
    z-index: 1;
}
    .logo-title, .logo-title:hover{
        font-weight: bold;
        color: #F3F4F8;
        margin-left: 15px;
    }
    .custom-links ul{
        display: flex;
        justify-content: end;
        text-align: right;
        z-index: 5;
    }
    .navbar-nav .nav-link.active{
        color: #F3F4F8;
        font-weight: bold;
    }
    
    .custom-links ul li{
        width: 150px;
        text-align: center;
        margin: 0;
    }
        .custom-links ul li a{
            position: relative;
            color: #F3F4F8;
        }
        .custom-links ul li a:hover{
            color: #F3F4F8;
        }
    .custom-nav-item{
        width: 200px !important;
    }
    #username{
        font-weight: bold;
        cursor: pointer;
        display: none;
    }
    
    #username p, #username img{
        display: inline-block;
    }
    #navLoginBtn{
        display: block;
    }
    .logout-modal{
        border: 1px solid black;
        width: 100px;
        position: absolute;
        top: 0;
    }
    .custom-toggler{
        border: none;
    }
    .navbar-toggler-icon{
        border: none;
    }
    #close-icon{
        display: none;
    }
@media screen and (max-width: 991px){
    .custom-links{
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    }
        .custom-links ul li{
            width: 100%;
            text-align: right;
        }
    .custom-nav-item{
        width: 100% !important;
        display: block;
    }
}