*{
    font-family: sans-serif;
}
body{
    /* background-color: #F3F4F8; */
    font-size: 16px;
}
/* Navbar */
.custom-nav{
    width: 100%;
    background: rgb(5, 55, 116);
    z-index: 2;
    position: fixed;
    /* border-bottom: 3px solid black; */
}
    .logo-title, .logo-title:hover{
        font-weight: bold;
        color: #F3F4F8;
        margin-left: 15px;
    }
    .custom-links ul{
        display: flex;
        justify-content: end;
        text-align: right;
        z-index: 5;
    }
    .navbar-nav .nav-link.active{
        color: #F3F4F8;
        font-weight: bold;
        background-color: rgba(165, 179, 197, 0.1);
    }
    .nav-item{
        cursor: pointer;
    }
    .custom-links ul li{
        width: 150px;
        text-align: center;
        margin: 0;
    }
        .custom-links ul li a{
            position: relative;
            color: #F3F4F8;
        }
        .custom-links ul li a:hover{
            color: #F3F4F8;
        }
        a:hover{
            background-color: rgba(165, 179, 197, 0.1);
        }
    .custom-nav-item{
        width: 200px !important;
    }
    #username{
        font-weight: bold;
        cursor: pointer;
        display: none;
    }
    #username p, #username img{
        display: inline-block;
    }
    #navLoginBtn{
        display: block;
    }
    .logout-modal{
        border: 1px solid black;
        width: 100px;
        position: absolute;
        top: 0;
    }
    .custom-toggler{
        border: none;
        box-shadow: none;
        outline: none;
    }
    .navbar-toggler-icon{
        border: none;
    }
    #close-icon{
        display: none;
    }
@media screen and (max-width: 989px){
    .custom-links{
        z-index: 5;
        position: absolute;
        top: 100%;
        background-color:  rgb(8, 72, 151);
        width: 100%;
        /* padding: 10px; */
        /* -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75); */
    }
        .custom-links ul li{
            width: 100%;
            text-align: right;
        }
    .custom-nav-item{
        width: 100% !important;
        display: block;
    }
    .nav-link.active{
        background-color:  rgb(8, 72, 151);
    }
    .nav-link{
        padding-right: 20px;
    }
    .custom-links{
        z-index: 2;
        /* position: absolute; */
        /* top: 100%; */
        /* background-color: rgba(3, 138, 255, 0.8); */
        width: 100%;
    }
    .custom-links ul li{
        width: 100%;
        text-align: right;
    }
    .custom-nav-item{
        margin-right: 0;
    }
    #navLoginBtn, #username{
        margin: 10px 20px;
    }
    .custom-toggler{
        position: absolute;
        right: 50px;
    }
    
}
.notification-container{
    background-color: #F3F4F8;
    display: none;
}
@media screen and (min-width: 426px){
    .notification-container{
        padding-top: 10px;
        position: absolute;
        top: 60px;
        right: 10px;
        height: 70vh;
        width: 50%;
        z-index: 5;
        /* -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); */
    }
}
@media screen and (max-width: 425px){
    .notification-container{
        position: absolute;
        /* top: 60px; */
        top: 50%;
        left: 50%;
        width:95vw;
        height: 70vh;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

}
#navLoginBtn, #username{
    margin-right: 20px;
}
.notification-container{
    overflow: auto;
}
.div-notif{
    cursor: pointer;
}
.div-notif:hover{
    background-color: rgb(5, 55, 116);
    color: white;
}