/* Navbar */
nav{
    border-bottom: 1px solid black;
    width: 100%;
    height: 50%;
    background-color: red;
}
    .custom-logo{
        font-weight: bold;
    }
    .custom-links{
        display: flex;
        justify-content: end;
        text-align: right;
    }
    .custom-links ul li{
        margin: 0 20px;
    }
main{
    text-align: left;
}
    .custom-form{
        margin-left: 0;
    }
    @media (min-width: 1024px){
        .custom-form{
            width: 50%;
        }
    }
    .custom-label{
        border: 1px solid black;
        width: 100%;
        padding: 5px;
    }
        .custom-label label{
            padding: 0 5px;
        }
        .custom-label input{
            border: 0;
            outline: 0;
            /* margin: 0; */
            /* padding: 0; */
        }
        input:focus {
            outline: none; /* Remove the outline when focused */
        }
#apply-now{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
}
/* Form */
.message{
    height: 30px;
}
/* Modal */
.modal-dialog{
    margin-top: 10%;
}
.modal-header, .modal-footer{
    border-radius: 0;
    border: none;
    background-color: white;
}
    .modal-header h1{
        text-align: center;
        width: 100%;
    }
.modal-body form label{
    display: block;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}
    .modal-body form label input{
        display: block;
        width: 100%;
        border: none; /* This removes the border */
        outline: none;
    }