.montly-report-container, .graph-container{
    height: 90vh;
    overflow: auto;
    /* border: 1px solid black; */
}
.graph-container{
    position: relative;
    bottom: 0;
}
.total-applicant-container{
    font-weight: bold;
}
main{
    /* height: 100vh !important; */
}