*{
    font-family: sans-serif;
}
body{
    font-size: 16px;
}
.side_bar{
    background: rgb(5, 55, 116);
    color: #F3F4F8;
    height: 100vh;
}
    .logo-title{
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #F3F4F8;
    }
    .notif-logo{
        margin-right: 10px;
    }
    .active{
        color: #F3F4F8;
        font-weight: bold;
        background-color: rgba(165, 179, 197, 0.1);
    }
    .side_bar ul li:hover{
        background-color: rgba(165, 179, 197, 0.1);

    }
    .side_bar ul li a{
        padding: 0;
    }
    .profile-picture img{
        width: 40%;
    }
.navbar, .notification-container{
    display: none;
}

/* Admin search engine */
.header{
    position: relative;
    padding: 5px;
    border: 1px solid #898989;
    /* margin: 20px ; */
    /* width: 35%; */
    border-radius: 5px;
    /* margin: 0 auto; */
    /* margin-right: 0; */
}
    .header input{
        border: none;
        width: 93%;
        display: inline-block;
    }
    .header img{
        display: inline-block;
        position: relative;
        right: 0;
    }
    .header input:focus{
        outline: none;
    }