/* Navbar */
nav{
    border-bottom: 1px solid black;
    width: 100%;
    height: 50%;
    background-color: red;
}
    .custom-logo{
        font-weight: bold;
    }
    .custom-links{
        display: flex;
        justify-content: end;
        text-align: right;
    }
    .custom-links ul li{
        margin: 0 20px;
    }
#apply-now{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
}
/* Login Modal */
.modal-dialog{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.modal-header, .modal-footer{
    border-radius: 0;
    border: none;
    background-color: white;
}
    .modal-header h1{
        text-align: center;
        width: 100%;
    }
.modal-body form label{
    display: block;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}
    .modal-body form label input{
        display: block;
        width: 100%;
        border: none;
        outline: none;
    }
/* Message Modal */
#messageAlert{
    position: absolute;
    top: 0;
    width: 100%;
}
#messageAlert div{
    width: 35%;
    display: none;
    margin: 0 auto;
    /* background-color: white; */
}
/* Footer */
footer{
    border-top: 1px solid black;
    /* width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: white; */
}